
importClassesFrom(methods, ANY, character, list, logical, matrix, missing, "NULL", numeric, vector)
importFrom(methods, as, is, new, validObject)
importFrom(stats, runif)

importClassesFrom(catnet, catNetwork)
importMethodsFrom(catnet, cnComplexity)
importMethodsFrom(catnet, cnLoglik)
importMethodsFrom(catnet, cnReorderNodes)

useDynLib(mugnet)

exportClasses(mgNetwork)

exportMethods(
	mgBeta, mgSigma, mgPredict, mgSamples, mgNodeLoglik, mgLoglik, mgReorderNodes, mgSetProb, mgFind, mgFindAIC, mgFindBIC
)

export(
	mgNew, mgSearchOrder
) 

